.login-page {

}

.login_gros_titre, .login_petit_titre{
    font-family: 'Merriweather', serif;
}

.login_gros_titre{
    font-size: 35px;
}

.login_petit_titre{
    font-size: 18px;
}

.login_div{
    display: inline-flex;
    text-align: center;
    margin-top: 50px;
}

.login_div div:nth-child(1){
    border-right: solid 1px black;
    padding-right: 30px;
}

.login_div div{
    width:50%;
    padding:20px;
}
