
<section class="login-page">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <h1 class="login_gros_titre">Welcome to the Time Management</h1>
    <h2 class="login_petit_titre">Please login or register to access the application</h2>
    <div class="login_div">
        <div>
            <h1>LOGIN</h1>
            <Connexion />
        </div>
        <div>
            <h1>REGISTER</h1>
            <Registration />
        </div>
    </div>
</section>
